.Rproj.user
.Rhistory

.RData
.Ruserdata

# due to size concern
raw_data/anage_data.txt 

# preveent OS-metadata being shared
.DS_Store

# due to size concern
processed_data/excluded_data.csv
processed_data/tidied_data.csv
processed_data/cleaned_data.csv

histogram.png
