.Rproj.user
.Rhistory
# where is it coming from, and why
.RData
.Ruserdata
raw_data/anage_data.txt 
.DS_Store
processed_data/primates_clean.csv
processed_data/excluded_data.csv
processed_data/rodentia_clean.csv
processed_data/primates_filtered.csv
processed_data/rodentia_filtered.csv
